<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>イベント一覧</title>
  </head>
  <body>
    <div>
      <a href="{% url 'event:create' %}">Create Event</a>
    </div>
    <table>
      <tr>
        <th>タイトル</th>
        <th>text</th>
        <th>開始日時</th>
        <th>終了日時</th>
        <th>メール</th>
        <th>電話番号</th>
      </tr>

      {% for event in event_list %}
      <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.text }}</td>
        <td>{{ event.start_datetime }}</td>
        <td>{{ event.end_datetime }}</td>
        <td>{{ event.mail }}</td>
        <td>{{ event.tel_number }}</td>
        <td>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'event:update' pk=event.id %}"
            role="button"
            >編集</a
          >
          {% comment %}
          <form method="POST" action="{% url 'event:delete' pk=event.id %}">
            {% csrf_token %}
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal-{{event.id}}"
            >
              削除
            </button>
          </form>
          {% endcomment %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
